p {
    text-align: right;
    font-family: Arial;
}
h3 {
    text-transform: uppercase;
}
body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Paleontology_at_Maryland_Science_Center.jpg/640px-Paleontology_at_Maryland_Science_Center.jpg);
}
a {
    font-size: 16px;
    font-style: italic;
}
iframe {
    height: 600px;
    width: 100%;
}
header {
    background-color: lightsalmon;
    border-style: solid;
}
main {
    background-color: lightsalmon;
    height: 80%;
    width: 70%;
}
footer {
    background-color: lightsalmon;
}
.job-title {
    font-weight: bold;
    color: maroon;
}